@using EfDBContext;
@model IEnumerable<Template>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Template.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css"
          rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/super-build/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/super-build/translations/de.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">
       var url = '@Url.Action("TemplateDetails", "Template")';


        $(function () {
            $("#templateDialog").dialog({
                draggable: true,
                resizable: true,
                show: 'Transfer',
                hide: 'Transfer',
                width: '100%',
                height : 850,
                autoOpen: false,
                minHeight: 100,
                minwidth: 100,
                title : 'Template Preview'
            });

            $("#divPreferences").dialog({
                draggable: true,
                resizable: true,
                show: 'Transfer',
                hide: 'Transfer',
                width: '50%',
                height: 150,
                autoOpen: false,
                minHeight: 100,
                minwidth: 100,
                title: 'Preference'
            });
        });

        function loadTemplateDetails(templateId) {
            $('#templateDetails').val("");
            $('#templateDetails').html("");
            $('#templateDetails').load(url, { templateId: templateId });
            $("#templateDialog").dialog("open");

        }


    </script>
</head>
<body>
    <div id="templateDialog" title="">
       <div id="templateDetails">

       </div>
    </div>

    
    <h4>Template List</h4>
    <hr />
    <table cellpadding="0" cellspacing="0" class="container table table-bordered table-responsive table-hover">
        <tr>
            <th>Template ID</th>
            <th>Type</th>
            <th>Channels</th>
            <th>Language</th>
            <th>Status</th>
            <th>Created Date</th>
            <th></th>
        </tr>
        @foreach (Template customer in Model)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Name</td>
                <td></td>
                <td></td>
                <td> @customer.StatusName</td>
                <td>@customer.CreatedDate</td>
                <td>
                    <p class="submit"><input type="submit" id="btnTemplateDetails" onclick="loadTemplateDetails(@customer.Id)" value="Edit Template" /> 
                    </p>
                </td>
            </tr>
        }
    </table>
</body>
</html>